 	* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*.container {
    position: relative;
    text-align: center;
    max-width: 100%;
    color: white;
}*/

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centereddebajo {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  max-width: 1440px;
  width: 100% !important;
}

section{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
 
  max-width: 1440px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100% !important;
}


#bloque1 {
    height: 650px;
    background-image: url("DSC_0919.JPG");
    background-size: 100% 125%;
}

#bloque2 {
	   height: auto;
    background-color: #262626;
    background-size: cover;
}


#bloque3{
	height: auto;
	background-color: #FDFFFF;
	background-size: cover;
}


#bloque4{
  height: auto;
  background-color: #304040;
  background-size: cover;
}

.mukta{
  font-family: 'Mukta Mahee', sans-serif;
}

.navbartext{
   font-family: 'Mukta Mahee', sans-serif;
   font-size: 30px;
}

.nav.navbar-nav	 li a {
    color: white;
    font-size: medium;
}

.navbar{
	background-color: #c2c2a3;
	height: 15px;
}

.josecarlos{
	font-size: 30px;
}

.pacifico{
    font-family: 'Pacifico', cursive;
}

.varela{
    font-family: 'Varela Round', sans-serif;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.container2{
	height: 100%;
}

.seccionperfil{
	font-size: 20px;
		color: #66a5ad;
		margin-left: 8%;
		margin-right: 2%;
		margin-top: 30px;
}

.textoperfil{
		font-size: 20px;
		color: #cce0ff;
		margin-left: 8%;
		margin-right: 2%;
		margin-top: 15px;
}

.circle { 
   width: auto;
   height: auto;
   background: #575757; 
   -moz-border-radius: 65px; 
   -webkit-border-radius: 65px; 
   border-radius: auto;
}

.quicksand{
  font-family: 'Quicksand', sans-serif;
}

hr.style13 {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#services {
	background: #313131 url(../images/bg.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding-top: 12rem;
	padding-bottom: 12rem;
	color: white;
	position: relative;
}
#services .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #151515;
	opacity: .9;
}

#services .section-intro {
	margin-bottom: 1.8rem;
}

#services .section-intro h1 {
	color: white;
}
#services .section-intro h5 {
	color: #FF0077;
}
#services .section-intro p {
	color: rgba(255, 255, 255, 0.7);
}
.service-content {
	padding-left: 5rem;
	padding-right: 2rem;
}
.services-list {
	margin-top: 1.2rem;
	text-align: center;
}
.services-list .service {
	margin-bottom: 1.2rem;
	padding: 0 30px;
}
.services-list .icon {
	display: inline-block;
	margin-bottom: 2.1rem;
}
.services-list .icon i {
	font-size: 5.4rem;
	color: #FF0077;
}
.services-list h3 {
	color: #FFFFFF;
}
.services-list .desc {
	color: rgba(255, 255, 255, 0.6);
}

/* pagination */
.owl-pagination {
	text-align: center;
	width: 100%;
	margin: .6rem 0 0;
}
.owl-theme .owl-controls .owl-page {
	display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	margin: 1.2rem .8rem 0 .8rem;
	border-radius: 50%;
	display: inline-block;
	background: #FFFFFF;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #FF0077;
}

.progress {
background: rgba(245, 245, 245, 1); 
border: 0px solid rgba(245, 245, 245, 1); 
border-radius: 0px;  
height: 21px;
}

.progress-bar-custom {
  background: rgba(66, 139, 202, 1);
}

.introducetype{
	font-size: 20px;
	color: #ffffcc;
	margin-left: 8%;
	margin-right: 8%;
	padding-top: 1%;
}

.popins{
	font-family: 'Poppins', sans-serif;
}

.square_btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #34888c;
    transition: .4s;
  }

.square_btn:hover {
    background: #6ac3c8;
}

